body{
    background-color: rgb(20, 22, 29);
    padding-top: 2%;
    padding-bottom: 3%;
    font-family: 'Raleway', sans-serif;
}

.nav img{ 
    width: 80px;
    height: 80px;
    margin-left: 140px;
    border-radius: 50%;
    margin-right: 50px;
}
 
.nav {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav  ul{
    margin-right: 10px;
    display: flex;
    margin-left: 700px;
}

.nav ul li{
    list-style: none;
    margin-right: 0px;
    float: right;
}

ul li a{
    font-size: 23px;
    color: white;
    padding:10px;
    text-decoration-line: none;
}

.nav ul li a:hover{
    background: linear-gradient(to top left, white, rgb(126, 125, 125) 3%, transparent , transparent);
    text-decoration: none;
    color: white;
}

#holder_information{
    width: 75%;
    border-radius: 0px;
    color:black ;
    border-radius: 4px;
}

#holder_information button{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 50px;
    margin: 0% 40%;
    width: 20%;
    color: 25px;
}

#holder_information button:hover{
    background-color: rgb(36, 43, 49);
    border-color: rgb(28, 69, 252);

}

h1{
    font-size: 25px;
    margin-top: 40px;
    color:white;
}


table{
    background: white;
    color: black;
    border-radius: 4px;
}

table tr th{
    padding: 15px;
    color: black;
    font-size: 20px;
    text-align: center;
}

table tr td{
    font-size: 15px;
    color: black;
    padding: 10px;
    text-align: center;  
}

table tr td .btn{
    display: block;
    background-color: transparent;
    text-decoration: none;
    width: 80px;
    padding: 1px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
}

table tr td .btn:hover{
    background-color: rgb(36, 43, 49);
}

    